<!DOCTYPE html>

<html ng-app="productListApp">
<head>
    <title>Потребительская корзина</title>
    <script src="libs/angular.js"></script>
    <link href="libs/bootstrap.css" rel="stylesheet" />
    <link href="libs/bootstrap-theme.css" rel="stylesheet" />
    <script src='models/model.js'></script>
    <script src='ctrls/productListCtrl.js'></script>
    <script src='ctrls/styleListCtrl.js'></script>
    <script src='ctrls/lineThroughCtrl.js'></script>
    <script src='directives/priceList.js'></script>
</head>

<body ng-controller="productListCtrl">
    <div class="container">
        <div class="page-header">
            <h1>
                Потребительская корзина
            </h1>
            
        </div>
        <div class="panel">
            <div class="input-group">
                <input class="form-control" ng-model="productName" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addNewProduct()">Добавить</button>
                </span>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название продукта</th>
                        <th>Цена</th>
                        <th>Куплен</th>
                        <th>Да/Нет</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in data.products">
                        <td ng-controller="lineThroughCtrl">
                            <span style="{{setStyle(product.passed)}}">
                                {{product.name}}
                            </span>
                        </td>
                        <td>
                            {{product.price}}
                        </td>
                        <!-- CheckBox через директиву ng-model связан со свойством passed -->
                        <td><input type="checkbox" ng-model="product.passed" /></td>
                        <td ng-controller="styleListCtrl">
                            <span style="{{setStyle(product.passed)}}">
                                {{showText(product.passed)}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>Всего единиц товаров - {{data.products.length}}</h3>
        <total-price></total-price>
    </div>
</body>
</html>
